.brands-intigration {
    width: 80;
    margin: auto;
    padding: 30px 10px 30px 40px;
    cursor: pointer;


}

.bi-logos{
    
    height: 70px;
    padding: 85px 75px;
    
}


.bi-logoss{
    height: 70px;
    padding: 85px 75px;
    
}